@import "../../../themes/default/scss/variables";

:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-color: $header-color;
}
.title{
  line-height:64px;
  color: #fff;
  font-weight: bold;
  text-indent: 20px;
}
.titleSub{
  line-height:64px;
  color: #fff;
  font-weight: bold;
  text-indent: 20px;
  font-size: 14px;
}
.head-right{
  padding: 5px;
  height: 64px;
  text-align: right;
  float: right;
}
.head-user {
  margin-top: 20px;
}
.my-right-ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  width: auto;
}
@media (max-width:414px){
  .head-right{margin-right: 40px;}
}
.my-right-ul li {
  float: left;
}

