<div nz-row>
  <div nz-col class="head-right">
    <!-- <button nz-button nzType="default" nzGost (click)="loginOut()">退出</button> -->
    <ul class="my-right-ul">
      <li><od-notify></od-notify></li>
      <li><od-header-user class="head-user"></od-header-user></li>
    </ul>


  </div>
  <div nz-col class="title">
    <div class="titleSub"><img style="height:auto;width: 10%; min-width: 100px;" src="assets/images/gsafety-logo.png">&nbsp;&nbsp;{{'project_name' | translate }}</div>
  </div>
</div>
