<div class="my-table">
    <form nz-form [formGroup]="validateForm" style="padding: 10px;">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="4" *ngFor="let control of controlArray" [style.display]="control.show?'block':'none'">
          <nz-form-item nzFlex>
            <nz-form-label [nzFor]="'field'+control.index">{{ control.title }}</nz-form-label>
            <nz-form-control>
              <input nz-input [placeholder]="control.placeholder" [type]="control.type" [formControlName]="'field'+control.index" [attr.id]="'field'+control.index">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4" style="display: block">
          <button nz-button [nzType]="'primary'" (click)="search()">搜索</button>&nbsp;&nbsp;
          <button nz-button (click)="resetForm()">清除</button>
        </div>
      </div>
    </form>
    <div>
      <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataSet" [nzLoading]="loading" [nzTotal]="total"
        [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="loadList()" (nzPageSizeChange)="loadList()">
        <thead>
          <tr>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>手机号</th>
            <th>邮箱</th>
            <th>住址</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataSet">
            <td><a (click)="toInfo(item)">{{item.name}}</a></td>
            <td>{{getSexName(item.sex)}}</td>
            <td>{{item.age}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.email}}</td>
            <td>{{item.address}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
